* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

menu, ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

:root {
  --primary-color: #1992D3;
  --bg-color: #E2E8F0;
  --secondary-bg-color: white;
  --details-color: #F0B329;
  --primary-text-color: black;
  --secondary-text-color: #636363;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

.container_layout {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
                      'aside header'
                      'aside main';
}

.aside {
  grid-area: aside;
  position: sticky;
  inset-block-start: 0;
  background-color: var(--primary-color);
  color: var(--secondary-bg-color);
  max-height: 100vh;
}

.aside_logo {
  display: flex;
  column-gap: 12px;
  padding: 16px;
  margin-bottom: 24px;

  > img {
    width: 54px;
  }

  > h1 {
    font-size: 1.6rem;
  }
}

.aside_menu {
  font-weight: bold;

  li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 26px;
    cursor: pointer;
  }

  li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  > .app_menu {
    margin-bottom: 42px;
  }

  img {
    width: 20px;
  }
}

.header {
  grid-area: header;
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
  padding: 16px 32px;
  position: sticky;
  inset-block-start: 0;

  .search_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
  }

  .session_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  img:not(.profile_img) {
    width: 20px;
  }
}

.profile_img {
  width: 64px;
  border-radius: 50%;
}

.profile_img--small {
  width: 38px;
}

.search_container {

  .search_bar {
    display: flex;
    gap: 12px;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.profile_name {
  font-weight: bold;
}

.search_bar {
  input {
    border: none;
    outline: none;
    background-color: var(--bg-color);
    border-radius: 12px;
    padding: 4px 12px;
    width: 40vw;
    font-weight: bold;

  }

  input:focus {
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
  }
}

.session_container {

  .current_session {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  .buttons_container {
    display: flex;
    gap: 16px;
  }
}

.buttons_container {
  button {
    background-color: var(--primary-color);
    padding: 10px 24px;
    border-radius: 24px;
    color: var(--secondary-bg-color);
    font-weight: bold;
  }
}

.hi_there {
  /* font-size: 1rem; */

  .session_name {
    font-size: 1.7rem;
    font-weight: bold;
  }
}

.main {
  grid-area: main;
  display: flex;
  padding: 32px 22px 32px 18px;
  gap: 24px;

  .main_titles {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
  gap: 24px;
}

.card {
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 24px 20px 24px 14px;

  .card_title {
    font-size: 1.1rem;
    margin-bottom: 6px;
  }

  .card_paragraph {
    font-size: 0.9rem;
    margin-bottom: 24px;
    color: var(--secondary-text-color);
  }

  .card_buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 18px;
  }
}

.card--highlited {
  border-left: 8px solid var(--details-color);
}

.card_buttons {
  img {
    cursor: pointer;
    width: 24px;
  }
}

.announcements {
  margin-bottom: 24px;
}

/* targeting elements with the class `.card_announcement` that are not the last element of their type. */
.card_announcement:not(:last-of-type) {
  border-bottom: 0.1px solid var(--secondary-text-color);
}

/* targeting elements with the class `.card_announcement` that are not the first element of their type. */
.card_announcement:not(:first-of-type) {
  padding-top: 24px;
}

.main_content_sidebar {
  flex: 1;
}

.card_profile_item {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 18px;

  .profile_user {
    margin-bottom: 2.8px;
  }

  .profile_project {
    font-size: 0.85rem;
    color: var(--secondary-text-color);
  }
}